.home {
  .image-thumnail{
    .image{
      position: absolute;
    }
    .icon{
      position: relative;
      float: right;
      padding: 5px;
      right: -10px;
      top: -10px;
      z-index: 5;
      cursor: pointer;
    }
  }
}
